<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Créditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-list>
        <ion-list-header>
          Equipo de trabajo
        </ion-list-header>


        <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/user.png">
            </ion-avatar>
            <ion-label>
              <h2>Steven Avila</h2>
            </ion-label>
          </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/heyderblanco.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Heyder Blanco</h2>
          </ion-label>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/user.png">
            </ion-avatar>
            <ion-label>
              <h2>Camilo Montenegro</h2>
            </ion-label>
          </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/user.png">
          </ion-avatar>
          <ion-label>
            <h2>Andrés Novoa</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/andressalcedo.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Andrés Salcedo</h2>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/ceciliaavila.jpg">
          </ion-avatar>
          <ion-label>
            <h2>Cecilia Avila</h2>
            <h3>Lider de equipo</h3>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
