<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>

        <ion-item routerLink="../tabs/tab2" detail>
            <ion-icon slot="start" name="school"></ion-icon>
          Aprender
        </ion-item>
        <ion-item routerLink="../tabs/tab3" detail>
            <ion-icon slot="start" name="search"></ion-icon>
          <ion-label>
            Buscar
          </ion-label>
        </ion-item>
        <ion-item routerLink="../credits" detail>
          <ion-icon slot="start" name="search"></ion-icon>
        <ion-label>
          Créditos
        </ion-label>
      </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>