<ion-header>
  <ion-toolbar>
    <ion-title>Criterio 1.1.1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card >
    
        <ion-card-content>
         <ion-card-title> Contenido no textual</ion-card-title>
          Todo contenido no textual que se presenta al usuario tiene 
          una alternativa textual que cumple el mismo propósito, excepto en las situaciones enumeradas
          a continuación. (Nivel A)
        </ion-card-content>
      </ion-card>


      <ion-list>
          <ion-list-header>
            Ejemplo
          </ion-list-header>
  
  
          <ion-item>
              <ion-avatar slot="start">
                <img src="../../../assets/tick.png">
              </ion-avatar>
              <ion-label>
                <h2>La imagen si tiene texto alternativo</h2>
              </ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start">
                  <img src="../../../assets/cross.png">
                </ion-avatar>
                <ion-label>
                  <h2>La imagen no tiene texto alternativo</h2>
                </ion-label>
              </ion-item>  
      </ion-list>
</ion-content>
